@import url(https://fonts.googleapis.com/css?family=Cookie|Poppins);
body {
  margin: 0;
  line-height: 1.4;
  background: #ffffff;
  color: #af877c;
  font-family: "Poppins", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-topBar {
  background-color: #f3f2f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}

header .header-topBar p {
  display: none;
}

header .header-topBar div:first-child {
  margin-bottom: 10px;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out, background 0.1s ease-out;
  transition: all 0.5s ease-out, background 0.1s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 1;
}

header .header .logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .logo-menu img {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 225px;
  height: 40px;
}

header .header .logo-menu .burger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 80px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

header .header .logo-menu .burger-container .menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .logo-menu .burger-container .menu-icon::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e6ac90;
  font-family: "Font Awesome\ 5 Free";
  content: "\f0c9";
  font-weight: 900;
}

header .header .logo-menu .burger-container .open::before {
  content: "\f00d";
}

header .header ul.menu {
  display: none;
  padding: 0px 48px 0;
  list-style: none;
}

header .header ul.menu li.menu-item {
  border-bottom: 1px solid #f3f2f0;
  margin-top: 5px;
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

header .header ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.49s;
          transition-delay: 0.49s;
}

header .header ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}

header .header ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

header .header ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

header .header ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

header .header ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

header .header ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

header .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}

header .header.menu-opened {
  position: absolute;
  z-index: 10;
  height: 100%;
  background-color: #292f32;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

header .header.menu-opened .logo-menu {
  margin-top: 30px;
}

header .header.menu-opened ul.menu {
  display: block;
}

header .header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}

header .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.27s;
          transition-delay: 0.27s;
}

header .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.34s;
          transition-delay: 0.34s;
}

header .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.41s;
          transition-delay: 0.41s;
}

header .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}

header .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

header .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.62s;
          transition-delay: 0.62s;
}

header .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.69s;
          transition-delay: 0.69s;
}

main {
  height: 70vh;
}

main .swiper-container {
  width: 100%;
  height: 100%;
}

main .swiper-container .swiper-wrapper {
  position: relative;
}

main .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* Styling for images */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

main .swiper-container .swiper-wrapper .slide-1 {
  background-image: url("../img/slide1.jpg");
}

main .swiper-container .swiper-wrapper .slide-2 {
  background-image: url("../img/slide2.jpg");
}

main .swiper-container .swiper-wrapper .slide-3 {
  background-image: url("../img/slide3.jpg");
}

main .swiper-container div.main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 200px;
  text-align: center;
  margin-left: -30%;
  margin-top: -100px;
}

main .swiper-container div.main-heading h1,
main .swiper-container div.main-heading h2 {
  margin: 0px;
  font-weight: 400;
  color: #ffffff;
}

main .swiper-container div.main-heading h2 {
  font-family: "Cookie";
  font-weight: 300;
  color: #5fa7bd;
  margin-bottom: 20px;
}

main .swiper-container div.main-heading a {
  background-color: #e6ac90;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about {
  background-color: #f3f2f0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 70%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-section .about figure {
  width: 100%;
  margin: 0;
  height: 300px;
  overflow: hidden;
}

.about-section .about figure img {
  width: 100%;
  height: auto;
}

.about-section .about div {
  padding: 10px 30px;
}

.about-section .about div h1 {
  color: #342219;
  margin-bottom: 0;
}

.about-section .about div h2 {
  font-family: "Cookie";
  font-weight: 300;
  color: #5fa7bd;
  margin-top: 0;
  margin-bottom: 40px;
}

.about-section .about div p {
  color: #89807c;
  font-size: 13px;
  line-height: 1.7;
  margin: 40px 0;
}

.about-section .about div span {
  width: auto;
  position: relative;
}

.about-section .about div span .far.fa-comments {
  background-color: #e6ac90;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: #ffffff;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.about-section .about div span:before, .about-section .about div span:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #89807c;
  width: 60px;
}

.about-section .about div span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 30px;
}

.about-section .about div span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: -30px;
}

.about-section .about div p.email {
  color: #342219;
  font-weight: 700;
  margin-bottom: 20px;
}

.feature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.feature-section .features {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  text-align: center;
  background-color: #f3f2f0;
  -webkit-box-shadow: 5px 2px 20px #f3f2f0;
          box-shadow: 5px 2px 20px #f3f2f0;
  padding: 40px 0;
}

.feature-section .features i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: #c3e1eb;
  color: #342219;
  margin: 0 auto;
}

.feature-section .features:hover i {
  background-color: #ffffff;
}

.feature-section .features h1 {
  color: #342219;
  margin-bottom: 0px;
}

.center-section {
  background-image: url("../img/center-image.jpg");
  background-color: #333;
  background-blend-mode: overlay;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-section .call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

.center-section .call-to-action h1 {
  margin-bottom: 0;
}

.center-section .call-to-action h2 {
  font-family: "Cookie";
  font-weight: 300;
  margin: 0;
  font-size: 27px;
  margin-bottom: 20px;
}

.center-section .call-to-action a {
  background-color: #e6ac90;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
}

.contact-numbers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-numbers-section div {
  width: 80%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #322c29;
}

.contact-numbers-section div .contact-numbers {
  padding: 10%;
  width: 80%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-numbers-section div .contact-numbers i {
  font-size: 18px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: #3e3736;
  color: #e6ac90;
  margin-right: 20px;
}

.contact-numbers-section div .contact-numbers span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.7;
}

.contact-numbers-section div .contact-numbers span h1,
.contact-numbers-section div .contact-numbers span h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.contact-numbers-section div .contact-numbers span h2 {
  font-size: 18px;
}

.why-us-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.why-us-section .content {
  width: 80%;
  margin-top: 40px;
  text-align: center;
}

.why-us-section .content .text .heading h1,
.why-us-section .content .text .heading h2 {
  margin: 0;
  color: #342219;
  font-size: 24px;
}

.why-us-section .content .text .heading h2 {
  font-family: "Cookie";
  font-weight: 300;
  color: #5fa7bd;
  margin-top: 0;
  font-size: 27px;
  margin-bottom: 20px;
}

.why-us-section .content .text .why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 0px 20px;
}

.why-us-section .content .text .why-us span {
  background-color: #5fa7bd;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.why-us-section .content .text .why-us div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #89807c;
  font-size: 13px;
  margin: 20px 0;
  text-align: left;
  margin-left: 10px;
}

.why-us-section .content .text .why-us div h3 {
  margin: 0;
  color: #342219;
}

.why-us-section .content .text .why-us:hover {
  background-color: #f3f2f0;
  -webkit-box-shadow: 5px 2px 20px #f3f2f0;
          box-shadow: 5px 2px 20px #f3f2f0;
}

.why-us-section .content figure {
  display: none;
}

.center-section.img {
  background-image: url("../img/couple-living.jpg");
}

.center-section.img .call-to-action {
  height: 60vh;
}

.center-section.img .call-to-action p {
  font-size: 13px;
}

.about-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f2f0;
}

.about-center .content {
  width: 80%;
  padding-top: 40px;
  text-align: center;
  background-color: #ffffff;
}

.about-center .content .heading h1,
.about-center .content .heading h2 {
  margin: 0;
  color: #342219;
  font-size: 24px;
}

.about-center .content .heading h2 {
  font-family: "Cookie";
  font-weight: 300;
  color: #5fa7bd;
  margin-top: 0;
  font-size: 27px;
  margin-bottom: 40px;
}

.about-center .content .tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-center .content .tabs .tab h1 {
  margin: 0;
  color: #89807c;
  font-size: 18px;
  padding: 10px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ffffff;
}

.about-center .content .tabs .tab .active {
  color: #ffffff;
  background-color: #5fa7bd;
  border-bottom: none;
}

.about-center .content .tabs .tab .description {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-center .content .tabs .tab .description figure {
  margin: 0;
}

.about-center .content .tabs .tab .description figure img {
  width: 100%;
  height: 50%;
}

.about-center .content .tabs .tab .description .tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  text-align: left;
}

.about-center .content .tabs .tab .description .tabs-content h2 {
  margin: 0;
  color: #342219;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.about-center .content .tabs .tab .description .tabs-content p {
  font-size: 13px;
  color: #89807c;
  line-height: 1.7;
}

.about-center .content .tabs .tab .description .tabs-content a {
  margin-top: auto;
  background-color: #e6ac90;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}

.about-center .content .tabs .tab .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.in-home-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f2f0;
  padding-bottom: 40px;
}

.in-home-services .content {
  width: 80%;
  padding-top: 40px;
  text-align: center;
  background-color: #f3f2f0;
}

.in-home-services .content .heading h1,
.in-home-services .content .heading h2 {
  margin: 0;
  color: #342219;
  font-size: 24px;
}

.in-home-services .content .heading h2 {
  font-family: "Cookie";
  font-weight: 300;
  color: #5fa7bd;
  margin-top: 0;
  font-size: 27px;
  margin-bottom: 40px;
}

.in-home-services .content .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.in-home-services .content .services .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.in-home-services .content .services .row .half-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.in-home-services .content .services .row .half-row .service {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.in-home-services .content .services .row .half-row .service i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: #c3e1eb;
  color: #342219;
  margin: 0px auto;
}

.in-home-services .content .services .row .half-row .service h3,
.in-home-services .content .services .row .half-row .service h4 {
  margin: 0;
  margin-top: 20px;
  font-size: 13px;
  color: #af877c;
  font-weight: 700;
}

.in-home-services .content .services .row .half-row .service h4 {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 300;
  color: #e6ac90;
}

.in-home-services .content .services .row .half-row .service:hover i {
  background-color: #ffffff;
}

.gallery-section {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f2f0;
  padding-bottom: 50px;
}

.gallery-section .content {
  width: 80%;
  margin-top: 40px;
  text-align: center;
  /* The Modal (background) */
}

.gallery-section .content .heading h1,
.gallery-section .content .heading h2 {
  margin: 0;
  color: #342219;
  font-size: 24px;
}

.gallery-section .content .heading h2 {
  font-family: "Cookie";
  font-weight: 300;
  color: #5fa7bd;
  margin-top: 0;
  font-size: 27px;
  margin-bottom: 20px;
}

.gallery-section .content .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-section .content .gallery .gallery-image {
  width: 100%;
  margin: 0;
  height: auto;
  overflow: hidden;
  margin: 10px 0;
}

.gallery-section .content .gallery .gallery-image img {
  width: 100%;
  height: auto;
}

.gallery-section .content .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  /* Modal Content (Image) */
  /* The Close Button */
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  /* Add Animation - Zoom in the Modal */
}

.gallery-section .content .modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.gallery-section .content .modal #close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery-section .content .modal #close:hover,
.gallery-section .content .modal #close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.gallery-section .content .modal #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.gallery-section .content .modal .modal-content,
.gallery-section .content .modal #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.map-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f2f0;
}

.map-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  width: 80%;
}

.map-section .content #googleMap {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.map-section .content #googleMap iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map-section .content .contacts {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.map-section .content .contacts h1 {
  margin-bottom: 10px;
  margin-top: 40px;
  color: #342219;
}

.map-section .content .contacts h2 {
  font-family: "Cookie";
  font-weight: 300;
  margin: 0;
  color: #5fa7bd;
  margin-bottom: 40px;
  font-size: 27px;
}

.map-section .content .contacts .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.map-section .content .contacts .contact-info i {
  background-color: #f3f2f0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  color: #e6ac90;
}

.map-section .content .contacts .contact-info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #89807c;
  font-size: 13px;
  margin: 20px 0;
  text-align: left;
  margin-left: 10px;
}

.map-section .content .contacts .contact-info span h2 {
  margin: 0;
  font-family: "Poppins";
  color: #342219;
  font-size: 16px;
  font-weight: 500;
}

.map-section .content .contacts .contact-info span p {
  font-size: 14px;
}

.map-section .content .contacts .contact-info:nth-child(4) {
  border-top: 1px solid #f3f2f0;
  border-bottom: 1px solid #f3f2f0;
}

.fixed-top-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 9;
}

.fixed-top-btn i {
  font-size: 36px;
  color: #e6ac90;
}

.fixed-top-btn i:hover {
  opacity: 0.7;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #322c29;
  color: #ffffff;
}

footer .content {
  width: 80%;
  padding-top: 40px;
  text-align: center;
}

footer .content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

footer .content .social p {
  margin: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

footer .content .social div {
  margin: 10px 9px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
}

footer .content .social div i {
  background-color: #3e3736;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  color: #e6ac90;
}

footer .content .social div i:hover {
  color: #ffffff;
  background-color: #e6ac90;
}

footer .content .footer-logo {
  border-top: 1px solid #3e3736;
  border-bottom: 1px solid #3e3736;
  margin: 0px 30px;
  padding: 20px 0;
}

footer .content .footer-logo img {
  width: 100%;
}

footer .content .copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  line-height: 2;
}

footer .content .copyrights p {
  font-size: 13px;
  margin: 0;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25211e;
  line-height: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-links span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
}

footer .footer-links span a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

@media screen and (min-width: 620px) {
  header .header .logo-menu img {
    margin-left: 40px;
    width: 248px;
    height: 40px;
  }
  header .header .logo-menu .burger-container {
    margin-right: 40px;
  }
  main .swiper-container div.main-heading h1,
  main .swiper-container div.main-heading h2 {
    font-size: 40px;
    font-weight: 700;
  }
  main .swiper-container div.main-heading h2 {
    font-size: 30px;
    font-weight: 400;
  }
  main .swiper-container div.main-heading a {
    font-size: 14px;
  }
  .about-section .about {
    width: 70%;
  }
  .feature-section .features {
    width: 70%;
  }
  .center-section .call-to-action h1,
  .center-section .call-to-action h2 {
    font-size: 30px;
  }
  .center-section .call-to-action a {
    font-size: 14px;
  }
  .contact-numbers-section div {
    width: 70%;
  }
  .contact-numbers-section div .contact-numbers {
    padding: 50px;
  }
  .contact-numbers-section div .contact-numbers:nth-child(2) {
    padding: 0 50px 50px 50px;
  }
  .why-us-section .content {
    width: 70%;
  }
  .why-us-section .content .text .heading h1,
  .why-us-section .content .text .heading h2 {
    font-size: 27px;
  }
  .why-us-section .content .text .heading h2 {
    font-size: 30px;
  }
  .center-section.img .call-to-action {
    width: 70%;
    height: 60vh;
  }
  .center-section.img .call-to-action p {
    font-size: 14px;
  }
  .about-center .content {
    width: 70%;
  }
  .in-home-services .content {
    width: 70%;
  }
  .in-home-services .content .heading h1 {
    font-size: 27px;
  }
  .in-home-services .content .services .row .half-row .service h3,
  .in-home-services .content .services .row .half-row .service h4 {
    font-size: 16px;
  }
  .gallery-section .content {
    width: 70%;
  }
  .map-section .content {
    width: 70%;
  }
  .map-section .content .contacts {
    width: 100%;
  }
  .map-section .content .contacts h1 {
    font-size: 27px;
  }
  .map-section .content .contacts .contact-info {
    padding: 0px 40px;
  }
  footer .content {
    width: 70%;
  }
  footer .content .social p {
    font-size: 16px;
  }
  footer .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-links span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  footer .footer-links span a {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  header .header .logo-menu img {
    margin-left: 40px;
  }
  header .header .logo-menu .burger-container {
    margin-right: 30px;
  }
  main .swiper-container div.main-heading h1,
  main .swiper-container div.main-heading h2 {
    font-size: 45px;
  }
  main .swiper-container div.main-heading h2 {
    font-size: 35px;
  }
  main .swiper-container div.main-heading a {
    font-size: 16px;
  }
  .about-section .about {
    margin-top: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    z-index: 2;
    height: 50%;
  }
  .about-section .about figure {
    margin: 0;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
  }
  .about-section .about figure img {
    width: 500px;
    height: 100%;
  }
  .about-section .about div {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about-section .about div h1,
  .about-section .about div h2 {
    font-size: 32px;
  }
  .about-section .about div p {
    font-size: 16px;
  }
  .about-section .about div span:before, .about-section .about div span:after {
    width: 80px;
  }
  .about-section .about div span:before {
    margin-right: -85px;
  }
  .about-section .about div span:after {
    margin-left: -85px;
  }
  .feature-section .features {
    width: 90%;
  }
  .feature-section h1 {
    font-size: 32px;
  }
  .center-section .call-to-action h1,
  .center-section .call-to-action h2 {
    font-size: 35px;
  }
  .center-section .call-to-action a {
    font-size: 16px;
  }
  .contact-numbers-section div {
    width: 90%;
    margin-top: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #322c29;
  }
  .contact-numbers-section div .contact-numbers {
    height: 100px;
    padding: 50px;
    padding-right: 0;
  }
  .contact-numbers-section div .contact-numbers:nth-child(2) {
    padding: 50px;
    padding-right: 0;
  }
  .contact-numbers-section div .contact-numbers i {
    font-size: 24px;
    width: 70px;
    height: 70px;
  }
  .why-us-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-us-section .content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .why-us-section .content .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    margin-right: 30px;
  }
  .why-us-section .content .text .heading h1 {
    font-size: 27px;
  }
  .why-us-section .content .text .heading h2 {
    font-size: 30px;
  }
  .why-us-section .content .text .why-us div {
    font-size: 14px;
  }
  .why-us-section .content figure {
    margin: 0;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  .why-us-section .content figure img {
    width: 480px;
    height: 100%;
  }
  .center-section.img .call-to-action {
    width: 70%;
    height: 60vh;
  }
  .center-section.img .call-to-action h1 {
    margin-top: -30px;
  }
  .center-section.img .call-to-action p {
    font-size: 14px;
  }
  .about-center {
    padding-bottom: 645px;
  }
  .about-center .content {
    width: 90%;
    padding-top: 60px;
    margin-top: -40px;
    z-index: 2;
  }
  .about-center .content .heading h1,
  .about-center .content .heading h2 {
    font-size: 30px;
  }
  .about-center .content .heading h2 {
    font-size: 35px;
  }
  .about-center .content .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: relative;
  }
  .about-center .content .tabs .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .about-center .content .tabs .tab h1 {
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    border-bottom: none;
  }
  .about-center .content .tabs .tab h1:hover {
    color: #ffffff;
    background-color: #5fa7bd;
  }
  .about-center .content .tabs .tab .active {
    color: #ffffff;
    background-color: #5fa7bd;
  }
  .about-center .content .tabs .tab .description {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ffffff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px;
    padding-bottom: 20px;
  }
  .about-center .content .tabs .tab .description figure {
    margin: 0;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 600px;
    overflow: hidden;
    max-height: 546px;
  }
  .about-center .content .tabs .tab .description figure img {
    width: 600px;
    height: 100%;
  }
  .about-center .content .tabs .tab .description .tabs-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-right: 0px;
    text-align: left;
    max-width: 400px;
  }
  .about-center .content .tabs .tab .open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88.5%;
    min-height: 640px;
  }
  .in-home-services {
    padding-top: 10px;
  }
  .in-home-services .content {
    width: 90%;
  }
  .in-home-services .content .heading h1,
  .in-home-services .content .heading h2 {
    font-size: 32px;
  }
  .in-home-services .content .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .in-home-services .content .services .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .in-home-services .content .services .row .half-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .in-home-services .content .services .row .half-row .service {
    padding: 10px;
  }
  .in-home-services .content .services .row .half-row .service i {
    font-size: 30px;
    width: 70px;
    height: 70px;
  }
  .in-home-services .content .services .row .half-row .service h3,
  .in-home-services .content .services .row .half-row .service h4 {
    font-size: 16px;
  }
  .gallery-section {
    padding-top: 30px;
  }
  .gallery-section .content {
    width: 90%;
  }
  .gallery-section .content .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery-section .content .gallery .gallery-image {
    width: 48%;
    margin: 0;
    height: auto;
    overflow: hidden;
    margin: 10px 0;
  }
  .gallery-section .content .gallery .gallery-image img {
    width: 100%;
    height: auto;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(odd) {
    margin-right: auto;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(even) {
    margin-left: auto;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(6) img {
    height: 221.03px;
  }
  .gallery-section .content .gallery .gallery-image:hover {
    opacity: 0.7;
  }
  .map-section .content {
    margin-bottom: -40px;
    width: 90%;
  }
  .map-section .content #googleMap {
    height: 60vh;
  }
  .map-section .content .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map-section .content .contacts h1,
  .map-section .content .contacts h2 {
    font-size: 32px;
  }
  .map-section .content .contacts .contact-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 363px;
  }
  .map-section .content .contacts .contact-info i {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  .map-section .content .contacts .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map-section .content .contacts .contact-info span h2 {
    font-weight: 700;
  }
  footer .content {
    width: 90%;
    padding-top: 80px;
  }
  footer .content .social p {
    font-size: 16px;
    font-weight: 700;
  }
  footer .content .footer-logo {
    border-top: none;
    border-bottom: none;
    margin: 0px 30px;
    padding: 20px 0;
  }
  footer .content .footer-logo img {
    width: 40%;
  }
  footer .content .copyrights p {
    font-size: 14px;
  }
  footer .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-links span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    padding: 10px 0px;
  }
  footer .footer-links span a {
    margin: 0 10px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  header .header-topBar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 45px;
  }
  header .header-topBar p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
  header .header-topBar div span {
    font-size: 14px;
  }
  header .header-topBar div:nth-child(1) {
    margin-left: auto;
    margin-right: 20px;
  }
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    background-color: transparent;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  header .header .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 300px;
  }
  header .header .logo-menu img {
    margin-left: 45px;
    width: 255px;
    height: 45px;
  }
  header .header .logo-menu .burger-container {
    display: none;
  }
  header .header .logo-menu .burger-container .menu-icon {
    display: none;
  }
  header .header ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    z-index: 1;
    margin-right: 45px;
    padding: 0px;
  }
  header .header ul.menu li.menu-item {
    -webkit-transform: none;
            transform: none;
    border-bottom: none;
    padding: 0px 10px;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    margin-top: 0px;
  }
  header .header ul.menu li.menu-item a {
    font-size: 16px;
    font-weight: 700;
    color: #89807c;
  }
  header .header ul.menu li.menu-item:nth-child(7) {
    padding-right: 0;
  }
  main .swiper-container div.main-heading h1,
  main .swiper-container div.main-heading h2 {
    font-size: 50px;
  }
  main .swiper-container div.main-heading h2 {
    font-size: 40px;
  }
  main .swiper-container div.main-heading a {
    font-size: 18px;
  }
  .about-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .about-section .about {
    width: 95%;
  }
  .about-section .about div h1,
  .about-section .about div h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .about-section .about div p {
    margin: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .about-section .about div span:before, .about-section .about div span:after {
    width: 80px;
  }
  .about-section .about div span:before {
    margin-right: -85px;
  }
  .about-section .about div span:after {
    margin-left: -85px;
  }
  .about-section .about div p.email {
    padding-top: 20px;
    margin-bottom: 0px;
  }
  .feature-section .features {
    width: 95%;
  }
  .feature-section .features h1 {
    font-size: 35px;
  }
  .contact-numbers-section div {
    width: 95%;
  }
  .contact-numbers-section div .contact-numbers i {
    font-size: 24px;
    width: 70px;
    height: 70px;
  }
  .contact-numbers-section div .contact-numbers span h1,
  .contact-numbers-section div .contact-numbers span h2 {
    font-size: 24px;
    font-weight: 700;
  }
  .contact-numbers-section div .contact-numbers span h2 {
    font-size: 18px;
  }
  .why-us-section .content {
    width: 95%;
  }
  .why-us-section .content .text .heading h1,
  .why-us-section .content .text .heading h2 {
    font-size: 32px;
  }
  .why-us-section .content .text .why-us div {
    font-size: 16px;
  }
  .about-center {
    padding-bottom: 645px;
  }
  .about-center .content {
    width: 95%;
  }
  .about-center .content .heading h1,
  .about-center .content .heading h2 {
    font-size: 32px;
  }
  .about-center .content .heading h2 {
    font-size: 35px;
  }
  .about-center .content .tabs .tab .description .tabs-content h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .about-center .content .tabs .tab .description .tabs-content p {
    font-size: 16px;
  }
  .about-center .content .tabs .tab .description .tabs-content a {
    font-size: 14px;
  }
  .about-center .content .tabs .tab .open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 91.7%;
    min-height: 657px;
  }
  .in-home-services {
    padding-top: 20px;
  }
  .in-home-services .content {
    width: 95%;
  }
  .in-home-services .content .services .row .half-row .service {
    padding: 10px;
  }
  .in-home-services .content .services .row .half-row .service i {
    font-size: 35px;
    width: 80px;
    height: 80px;
  }
  .in-home-services .content .services .row .half-row .service h3,
  .in-home-services .content .services .row .half-row .service h4 {
    font-size: 18px;
  }
  .gallery-section {
    padding-top: 80px;
  }
  .gallery-section .content {
    width: 95%;
  }
  .gallery-section .content .gallery .gallery-image {
    width: 49%;
    margin: 7px 0;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(6) img {
    height: 317.56px;
  }
  .map-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map-section .content {
    margin-bottom: -40px;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
  }
  .map-section .content #googleMap {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
  }
  .map-section .content .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .map-section .content .contacts h1,
  .map-section .content .contacts h2 {
    font-size: 32px;
  }
  .map-section .content .contacts .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .map-section .content .contacts .contact-info i {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin-left: 50px;
  }
  .map-section .content .contacts .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 50px;
    text-align: left;
  }
  .map-section .content .contacts .contact-info span h2 {
    font-size: 18px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 120px;
  }
  .map-section .content .contacts .contact-info span p {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 208px;
  }
  footer .content {
    width: 95%;
    padding-top: 80px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .content .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0px;
  }
  footer .content .social p {
    font-size: 16px;
    font-weight: 700;
  }
  footer .content .social div i {
    width: 40px;
    height: 40px;
  }
  footer .content .footer-logo {
    border-top: none;
    border-bottom: none;
    margin: 0px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
  footer .content .footer-logo img {
    width: 100%;
    height: 50%;
  }
  footer .content .copyrights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .content .copyrights p {
    font-size: 14px;
  }
  footer .footer-links span {
    padding: 20px 0px;
  }
  footer .footer-links span a {
    margin: 0 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1366px) {
  header .header-topBar {
    padding: 0 80px;
  }
  header .header .logo-menu img {
    margin-left: 80px;
    width: 290px;
    height: 50px;
  }
  header .header ul.menu {
    margin-right: 80px;
  }
  header .header ul.menu li.menu-item {
    padding: 0px 15px;
  }
  header .header ul.menu li.menu-item a {
    font-size: 16px;
  }
  main .swiper-container div.main-heading h1,
  main .swiper-container div.main-heading h2 {
    font-size: 50px;
  }
  main .swiper-container div.main-heading h2 {
    font-size: 35px;
  }
  main .swiper-container div.main-heading a {
    font-size: 16px;
  }
  .about-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .about-section .about {
    width: 70%;
  }
  .about-section .about div h1,
  .about-section .about div h2 {
    font-size: 32px;
  }
  .about-section .about div p {
    font-size: 14px;
  }
  .feature-section .features {
    width: 70%;
  }
  .contact-numbers-section div {
    width: 70%;
  }
  .contact-numbers-section div .contact-numbers span h1,
  .contact-numbers-section div .contact-numbers span h2 {
    font-size: 22px;
  }
  .contact-numbers-section div .contact-numbers span h2 {
    font-size: 18px;
  }
  .why-us-section .content {
    width: 70%;
    margin-top: 60px;
  }
  .why-us-section .content .text .heading h1,
  .why-us-section .content .text .heading h2 {
    font-size: 32px;
  }
  .why-us-section .content .text .why-us div {
    font-size: 14px;
  }
  .center-section.img .call-to-action p {
    font-size: 16px;
  }
  .about-center {
    padding-bottom: 645px;
  }
  .about-center .content {
    width: 70%;
  }
  .about-center .content .tabs .tab .description .tabs-content h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .about-center .content .tabs .tab .description .tabs-content p {
    font-size: 14px;
  }
  .about-center .content .tabs .tab .description .tabs-content a {
    font-size: 14px;
  }
  .about-center .content .tabs .tab .open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 91.5%;
    min-height: 560px;
  }
  .in-home-services {
    padding-top: 20px;
  }
  .in-home-services .content {
    width: 70%;
  }
  .in-home-services .content .services .row .half-row .service {
    padding: 10px;
  }
  .in-home-services .content .services .row .half-row .service i {
    font-size: 30px;
    width: 70px;
    height: 70px;
  }
  .in-home-services .content .services .row .half-row .service h3,
  .in-home-services .content .services .row .half-row .service h4 {
    font-size: 16px;
  }
  .gallery-section {
    padding-top: 0px;
  }
  .gallery-section .content {
    width: 70%;
  }
  .gallery-section .content .gallery .gallery-image {
    width: 49%;
    margin: 0;
    height: auto;
    overflow: hidden;
    margin: 7px 0;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(6) img {
    height: 312.16px;
  }
  .map-section .content {
    width: 70%;
  }
  footer .content {
    width: 70%;
  }
  footer .footer-links span {
    padding: 20px 0px;
  }
  footer .footer-links span a {
    margin: 0 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1920px) {
  header .header .logo-menu img {
    margin-left: 80px;
  }
  .about-section .about {
    width: 70%;
  }
  .about-section .about figure img {
    margin-right: auto;
    width: 580px;
  }
  .about-section .about div {
    margin-right: 60px;
  }
  .why-us-section .content {
    width: 70%;
  }
  .why-us-section .content figure img {
    margin-left: auto;
  }
  .about-center {
    padding-bottom: 645px;
  }
  .about-center .content .tabs .tab .open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 94%;
  }
  .gallery-section .content .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .gallery-section .content .gallery .gallery-image {
    margin: 4px 0;
    width: 32%;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(odd) {
    margin-right: 0;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(even) {
    margin-left: 0;
  }
  .gallery-section .content .gallery .gallery-image:nth-child(6) img {
    height: 286.53px;
  }
}
/*# sourceMappingURL=style.css.map */